@charset "utf-8";
body{
    background-image: url("../images/fractal3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
}
form {
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 100px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    max-width: 300px;
    min-width: 300px;
    border-radius: 10px;
}

@media(max-width:768px){
    form{
        width:75%;
    }
}
@media (min-width: 400px) {
    form {
        overflow: hidden;
    }

    @media(max-width:480px){
        form{
            width:95%;
        }

        input[type="submit"]:hover{
            opacity:2;
        }

        input[type="submit"]:active{
            transform: scale(0.95);
        }
    }
}