<div class="panel panel-info container">
  <div class="panel-heading">PREGUNTA</div>
  <div class="panel-body">
    <div>
      <h1 for="">{{preguntaNombre}}</h1>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>TODAS LAS RESPUESTAS</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active" *ngFor="let item of listaRespuestas">
          <div  style="margin-top: 5px">
          <textarea  class="form-control" rows="5" id="comment">{{item.contenido}}</textarea>
          </div>
        </tr>

      </tbody>
    </table>
    <div>
     

      <div class="form-group">
        <h3 for="comment">Nueva respuesta:</h3>
        <textarea [(ngModel)]="contenido" class="form-control" rows="5" id="comment"></textarea>
      </div>
      <button (click)="IngresarRespuesta()" style="margin-top: 20px" class="btn btn-success">INGRESAR</button>
      <button [routerLink]='["/home"]' class="btn btn-danger  pull-right glyphicon glyphicon-arrow-left"> REGRESAR</button>
    </div>

  </div>
</div>