
  <div class="col-lg-6">
    <button [routerLink]='["/blog/1"]' class="btn btn-default ">METODOLOGÍAS ÁGILES</button>
    <div class="item1"></div>
  </div>
  <div class="col-lg-6">
    <button [routerLink]='["/blog/2"]' class="btn btn-default">METODOLOGÍAS TRADICIONALES</button>
    <div class="item1"></div>
  </div>
  <div class="col-lg-6">
    <button [routerLink]='["/blog/3"]' class="btn btn-default">PROGRAMACIÓN WEB</button>
    <div class="item3"></div>
  
  </div>
  <div class="col-lg-6">
    <button [routerLink]='["/blog/4"]' class="btn btn-default">PROGRAMACIÓN MOVIL</button>
    <div class="item4"></div>
  
  </div>