<!-- <div class="container">
  <div class="panel panel-info ">
    <div class="panel panel-heading">
      <legend>TEMAS DISPONIBLES</legend>
    </div>
    <div class="panel-body col-lg-6">

      <h2>Striped Rows</h2>
      <p>The .table-striped class adds zebra-stripes to a table:</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>TEMA</th>



          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>
              <button class="btn btn-success">INGRESAR</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
    <div class="panel panel-footer">

    </div>

  </div> -->
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading " style=" height:  50px">
      TEMAS DISPONIBLES

      <button class="btn btn-success center-block pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i>
        Nuevo tema</button>



    </div>
    <div class="panel-body ">
      <div class=" col-lg-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <td>COMENZADO POR </td>
              <td>FECHA CREACIÓN</td>

              <td>ESTADO</td>
              <td>ACCIONES</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaTemas">
              <td>{{item.pregunta1}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.fecha | date:'medium' }}</td>

              <td *ngIf="item.estado">
                <h5 style="color:rgb(14, 114, 43); font-weight: bold;">ACTIVO</h5>
              </td>
              <td *ngIf="!item.estado">
                <h5 style="color:rgb(197, 5, 5); font-weight: bold;">NO ACTIVO</h5>
              </td>
              <td *ngIf="item.estado">
                <button (click)="CerrarTema(item.preguntaid)" [disabled]="item.nombre!=nombre" class="btn btn-info">Cerrar tema</button>
                <button  (click)="EliminarTema(item.preguntaid)" [disabled]="item.nombre!=nombre" class="btn btn-danger">Eliminar</button>
                <button [routerLink]='["/gestion-respuesta/", item.preguntaid, idusuario, nombre, rol]' class="btn btn-active glyphicon glyphicon-circle-arrow-right"></button>
              </td>
              <td *ngIf="!item.estado">
                <button (click)="ActivarTema(item.preguntaid)" [disabled]="item.nombre!=nombre" class="btn btn-info">Activar tema</button>
                <button  class="btn btn-danger" [disabled]="item.nombre!=nombre">Eliminar</button>
                <button [routerLink]='["/gestion-respuesta/", item.preguntaid, idusuario, nombre, rol]' class="btn btn-active glyphicon glyphicon-circle-arrow-right"></button>
              </td>
              


            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">GESTIÓN DE TEMAS</h4>
      </div>
      <div class="modal-body">

        <legend>INGRESE UN NUEVO TEMA</legend>
        <input [(ngModel)]="contenidoPregunta" type="text" class="form-control " id="nombreComunidad">

      </div>
      <div class="modal-footer">
        <button (click)="GuardarTema()" class="btn btn-success glyphicon glyphicon-check"> GUARDAR</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>